@{
    ViewData["Title"] = "Sitemap";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
   
    <div class="">
        <ul class="">
            <li class="">
                <a class=" text-dark" asp-controller="Books" asp-action="Index">Books</a>
            </li>
            <li class="m">
                <a class=" text-dark" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="">
                <a class=" text-dark" asp-controller="Home" asp-action="Contactus">Contact Us</a>
            </li>
            <li class="">
                <a class=" text-dark" asp-controller="Home" asp-action="Aboutus">About Us</a>
            </li>
            <li>
                <a class=" text-dark" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
        </ul>
    </div>
</div>
